.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: radial-gradient(#27903a, #02463a);
  background-size: 100%;
  overflow: hidden;
  margin: 0;
}
html {
  height: 100%;
  overflow: hidden;
}
.video-responsive {
  overflow: hidden;
  margin-top: 5%;
  padding-bottom: 54.25%;
  position: relative;
  height: 0;
  margin-bottom: 10%;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#password {
  margin: 0 auto;
  color: #f0d26c;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #c08946;
  box-shadow: 0px 5px 15px #f0d26c;
}
input:focus {
  outline: none;
}

#loadScreen {
  height: 100%;
  width: 100%;
  background: red;
}
#curtainCont {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 100%;
  margin-top: -13%;
}
#curtain1,
#curtain2 {
  display: inline-block;
  position: fixed;
  width: 50%;
  height: 100%;
}
#curtain1 {
  background: red;
  left: 0%;
  animation: slideCurtain1 2s forwards;
  animation-delay: 2s;
}
#r1 {
  float: right;
  margin-top: 48%;
}
#r2 {
  float: left;
  margin-top: 52%;
}
#curtain2 {
  background: red;
  right: 0%;
  animation: slideCurtain2 2s forwards;
  animation-delay: 2s;
}
#shuffleBtn_portrait {
  margin: auto;
  margin-bottom: 1%;
  margin-top: -20%;
}
#shuffleBtn_landscape {
  margin: auto;
}
#root {
  height: 100%;
}
.navBar_landscape {
  background: black;
  height: 100px;
  margin-top: 9.7%;
}
.wheel_cont {
  background: url("https://jax-apps.com/images/wheel.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 55%;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin1 15s infinite linear;
  -moz-animation: spin1 15s infinite linear;
  -o-animation: spin1 15s infinite linear;
  -ms-animation: spin1 15s infinite linear;
  animation: spin1 15s infinite linear;
}
.record_cont {
  background: url("https://jax-apps.com/images/record.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 55%;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin3 5s infinite linear;
  -moz-animation: spin3 5s infinite linear;
  -o-animation: spin3 5s infinite linear;
  -ms-animation: spin3 5s infinite linear;
  animation: spin3 5s infinite linear;
}
#needle_landscape {
  background: url("https://jax-apps.com/images/needle.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 55%;
  height: 15%;
  width: 15%;
  margin-left: 42.5%;
  margin-top: -10%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  /*animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 10% 10%;
  -webkit-animation: spin3 5s infinite linear;
  -moz-animation: spin3 5s infinite linear;
  -o-animation: spin3 5s infinite linear;
  -ms-animation: spin3 5s infinite linear;
  animation: spin3 5s infinite linear;*/
}
#needle_portrait {
  background: url("https://jax-apps.com/images/needle.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 55%;
  height: 15%;
  width: 15%;
  margin-left: 42.5%;
  margin-top: -15%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  /*animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 10% 10%;
  -webkit-animation: spin3 5s infinite linear;
  -moz-animation: spin3 5s infinite linear;
  -o-animation: spin3 5s infinite linear;
  -ms-animation: spin3 5s infinite linear;
  animation: spin3 5s infinite linear;*/
}
.mainui_landscape {
  position: relative;
  z-index: 0;
}
.mainui_portrait {
  position: relative;
  z-index: 0;
  margin-top: 20%;
}
.slot_landscape {
  position: relative;
  display: inline-block;
  padding-right: 5%;
  width: 21%;
  margin-top: 17%;
}
.slot_portrait {
  position: relative;
  display: inline-block;
  padding-right: 18%;
  width: 21%;
  margin-top: 12%;
  margin-left: -7%;
}
h2 {
  text-shadow: 0px 0px 12px black;
  color: white;
}
h2.landscape {
  font-size: 12px;
  position: absolute;
  margin-top: 40%;
  margin-left: 26%;
  white-space: pre-line;
  text-align: left;
  padding: 0px;
}
h2.portrait {
  font-size: 12px;
  position: absolute;
  margin-top: 55%;
  white-space: pre-line;
  text-align: left;
  padding: 0px;
  margin-left: 27%;
}
section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 100px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
  margin-left: 23%;
  box-shadow: 0px 0px 12px white;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}
.roll {
  width: 135px;
  cursor: pointer;
  background-color: purple;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

.rolling {
  animation: blinkingText 2s infinite;
}
#slot0 {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-iteration-count: 20;
}
#slot1 {
  animation-name: spin2;
  animation-duration: 0.1s;
  animation-iteration-count: 40;
}
#slot2 {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-iteration-count: 60;
}
@keyframes blinkingText {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@keyframes slideCurtain1 {
  1% {
    box-shadow: 10px 0px 50px black;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideCurtain2 {
  1% {
    box-shadow: -10px 0px 50px black;
  }
  100% {
    right: -100%;
  }
}

@keyframes spin {
  0% {
    margin-top: 0%;
  }
  99% {
    margin-top: -220%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes spin2 {
  0% {
    margin-top: -220%;
  }
  99% {
    margin-top: 0%;
  }
  100% {
    margin-top: 0%;
  }
}
@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin1 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin1 {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spin3 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-o-keyframes spin3 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-360deg);
  }
}

@-ms-keyframes spin3 {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-360deg);
  }
}

@-keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
